PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=
JWT_SECRET=
JWT_TOKEN_EXPIRED_TIME=
WEB_URL=http://localhost:5173
JWT_VERIFICATION_TOKEN_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
EMAIL=
SENDER=
