PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=
JWT_SECRET=
JWT_TOKEN_EXPIRED_TIME=
SENDGRID_API_KEY=
SENDGRID_RESET_PASSWORD_TEMPLATE_ID=
SENDGRID_VERIFY_EMAIL_TEMPLATE_ID=
SENDGRID_QR_CODE_TEMPLATE_ID=
EMAIL_NAME=Petcare (no-reply)
FROM_EMAIL=petcare.noreply@gmail.com
WEB_URL=http://localhost:5173
JWT_VERIFICATION_TOKEN_SECRET=