PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=
JWT_SECRET=
JWT_TOKEN_EXPIRED_TIME=
JWT_VERIFICATION_TOKEN_SECRET=

WEB_URL=http://localhost:5173

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_EMAIL=

SENDER=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=pk_test_51OI44sIB9LsO1RPwadJtsWMwJcb8gqWraWmXsrxaHtFUvBF2uX8WABVYelhOLNKxWNsTisrYJPrCpy8TliFKrgFa00s6rnQx9o
STRIPE_CURRENCY=usd